body {
    background-color: #040144;
    background-image: url("img/OIP 5.jpeg");
    background-repeat: repeat-x;
    padding: 300px;
}

.a {
    color: rgb(255, 255, 255);
    border-style: double;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 20px;
}

.b {
    margin-left: 38%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
