body {
    background-color: #ff0000;
    background-image: url("img/OIP 5.jpeg");
    background-repeat: repeat-x;
    margin: 300px;
}

.a {
    color: rgb(255, 255, 255);
    border-style: outset;
    border-color: rgb(18, 0, 75);
    border-radius: 50px;
    margin: 10px;
}

.b {
    margin-left: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.c {
    background-image: url("img/OIP 2.jpeg");
    background-repeat: repeat-x;
}